<:Title>
  Demo

<:Body>
  <h1>Demo</h1>

  <table>
    <tr>
      <td>Page:</td>
      <td><input type="text" value="{page._name}" /></td>
      <td><input type="text" value="{page._name}" /></td>
    </tr>
    <tr>
      <td>Store:</td>
      <td><input type="text" value="{store._users[0]._name}" /></td>
      <td><input type="text" value="{store._users[0]._name}" /></td>
    </tr>
    <tr>
      <td>Params:</td>
      <td><input type="text" value="{params._name}" /></td>
      <td><input type="text" value="{params._name}" /></td>
    </tr>

    <tr>
      <td>Params in Route:</td>
      <td><input type="text" value="{params._id}" /></td>
      <td><input type="text" value="{params._id}" /></td>
    </tr>
  </table>